*.exe
*.vc.db
*.suo
*.ipch
*.ilk
*.ipdb
*.dll
*.obj
*.idb
*.pdb
*.tlog
*.log
*.iobj
*.lnp
*.vcxproj.user
*.dfu
*.map
*.htm
*.scvd
jlinklog.txt
jlinksettings.ini
*.hex
*.d
*.o
*.crf
*.lst
*.axf
*.inp
*.dep
*.uvguix.*
*.iex
