*.cer
*.p7b
*.pem
*.exe
*.sdf
*.enc
*.vc.db
*.suo
*.ipch
*.ilk
*.ipdb
*.dll
*.obj
*.idb
*.pdb
*.tlog
*.log
*.iobj
*.lnp
*.vcxproj.user
*.VC.opendb
*.dfu
*.map
*.htm
*.scvd
jlinklog.txt
jlinksettings.ini
*.hex
*.d
*.o
*.crf
*.lst
*.axf
*.inp
*.dep
*.uvguix.*
*.iex
.vs
miniDICE/Release/*
miniDICE/Debug/*
Payload/Release/*
Payload/Debug/*